<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>My Awesome Todo List</h1>
    <table>
        <tr>
            <th>Task</th>
            <th>Email</th>
            <th>Priority</th>
        </tr>
        {% for todo in todo_list %}
        <tr>
            <td>{{ todo.task }}</td>
            <td>{{ todo.email }}</td>
            <td>{{ todo.priority }}</td>
        </tr>
        {% endfor %}  
    </table>
</body>
</html>